<template>
    <div class="block" v-if="episode != null">
        <div class="margin">
      <h1 class="title is-3 has-text-centered">{{ episode.title }}</h1>
      <h3 class="title is-3 has-text-centered">
        {{ episode.seasonNumber }}
        <span> - </span>
        <span>{{ episode.number }}</span>
        <span> - </span><span>{{ episode.title }}</span>
      </h3>
      <p>{{ episode.runtime }} mins</p>
      <p>{{ episode.tvParentalGuideline }}</p>
      <p class="has-text-justified">{{ episode.plot }}</p>
    </div>
      <div class="container">
      <router-link
        v-bind:to="{
          name: 'jouerEpisode',
          params: { episodeId: parseInt(episode.episodeId) },
          }">
        <figure class="image is-16by9">
          <img v-bind:alt="episode.title" v-bind:src="episode.imgURL" />
          <img alt="play" src="../../public/play.png" />
        </figure>
      </router-link>
      </div>
    </div>
</template>

<script>
/* eslint-disable object-curly-newline */
import { svrURL } from '@/constants';

export default {
    name: 'detailsEpisode',
    components: {},
    data() {
        return {
            episode: null,
        };
    },
    mounted() {
        this.getEpisodes();
    },
    methods: {
        async getEpisodes() {
            const response = await fetch(
                `${svrURL}/episode?episodeId=${this.$route.params.episodeId}`,
            );
            if (response.ok) {
                this.episode = await response.json();
            }
        },
    },
};
</script>

<style scoped>
.container {
    width: 400px;
    height: 240px;
}

/* Resize images */
.container img {
    width: 100%;
    height: auto;
}
</style>
