<template>
  <div v-if="this.tvshow != null">
    <div class="columns margin">
      <div class="column is-5">
          <figure class="image is-2by3">
            <img v-bind:alt="tvshow.title" v-bind:src="tvshow.imgURL" />
          </figure>
      </div>
      <div class="column is-7">
        <div class="columns is-multiline">
          <div class="column is-8">
            <h2 class="title is-2">{{ tvshow.title }}</h2>
          </div>
          <div class="column is-4 has-text-right">
          </div>
          <h5 class="column is-12">{{ tvshow.year }}</h5>
          <div class="column is-2">
            <p>{{ tvshow.episodeCount }} episodes</p>
          </div>
          <div class="column is-2">
            <p>{{ tvshow.tvParentalGuideline }}</p>
          </div>
          <div class="column is-8">
            <p class="has-text-right">
              {{ tvshow.genres.map((e) => e.name).join(", ") }}
            </p>
          </div>
          <div class="column is-2">
            <p>Studio</p>
          </div>
          <div class="column is-10">
            <p>{{ tvshow.studio.name }}</p>
          </div>
          <div class="column is-12 has-text-justified">
            <p>
              {{ tvshow.plot }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns is-mobile scroll margin">
      <RoleView
        v-for="tvsr in tvshow.roles"
        v-bind:key="tvsr.roleId"
        v-bind:role="tvsr"
      />
    </div>
    <div class="columns is-mobile scroll margin">
      <SeasonView
        v-for="tvss in tvshow.seasons"
        v-bind:key="tvss.seasonId"
        v-bind:season="tvss"
      />
    </div>
  </div>
</template>

<script>
/* eslint-disable object-curly-newline */
import { svrURL } from '@/constants';
import SeasonView from '@/components/SeasonView.vue';
import RoleView from '@/components/RoleView.vue';

export default {
    name: 'DetailsView',
    components: {
        RoleView,
        SeasonView,
    },
    data() {
        return {
            tvshow: null,
            isFavorite: !1,
        };
    },
    mounted() {
        this.getTvshow();
    // if (this.$root.$data.token !== "") {};
    // this.getFavorite();
    },
    methods: {
        async getTvshow() {
            const response = await fetch(
                `${svrURL}/tvshow?tvshowId=${this.$route.params.tvshowId}`,
            );
            if (response.ok) {
                this.tvshow = await response.json();
            }
        },
        async getFavorite() {
            const response = await fetch(
                `${svrURL}/favorite?tvshowId=${this.$route.params.tvshowId}`,
                {
                    method: 'GET',
                    headers: {
                        authorization: `bearer ${this.$root.$data.token}`,
                    },
                },
            );
            if (response.ok) {
                const data = await response.json();
                this.isFavorite = data.isFavorite;
            }
        },
    },
};
</script>

<style scoped>
.scroll { overflow-x: auto;}
</style>
