<template>
    <div class="content has-text-centered">
        <h1 class="margin">History</h1>
    </div>
    <div class="margin" v-if="this.historique != null">
    <div class="container">
      <div class="columns is-3-desktop is-4-tablet is-12-mobile is-multiline">
        <EpisodeDetailView
          v-for="tvss in episodesPagines"
          v-bind:key="tvss.episodeId"
          v-bind:episode="tvss"
        />
      </div>
    </div>
    <br><br>
    <div>
      <nav
        v-if="nbPages > 1"
        class="pagination is-centered is-small margin"
        role="navigation"
        aria-label="pagination"
      >
        <button v-if="pageCourante > 1"
          class="pagination-previous"
          v-on:click="this.pagePrecedente()">
          Precedente
        </button>
        <ul class="pagination-list">
          <li v-for="page in nbPages" v-bind:key="page">
            <button
              v-if="page === pageCourante"
              v-bind:arial-label="page"
              v-on:click="this.changerPage(page)"
              class="pagination-link is-current"
              aria-label="Goto page 1"
            >
              {{ page }}
            </button>
            <button
              v-else
              v-bind:arial-label="page"
              v-on:click="this.changerPage(page)"
              class="pagination-link"
              aria-label="Goto page 1"
            >
              {{ page }}
            </button>
          </li>
        </ul>
        <button v-if="pageCourante < nbPages"
        class="pagination-next"
        v-on:click="this.pageSuivante()">
          Suivante
        </button>
      </nav>
    </div>
  </div>
</template>

<script>
/* eslint-disable object-curly-newline */
import EpisodeDetailView from '@/components/EpisodeDetailView.vue';

export default {
    name: 'HistoryView',
    components: { EpisodeDetailView },
    data() {
        return {
            historique: this.$store.state.history,
            taillePage: 6,
            pageCourante: 1,
        };
    },
    computed: {
        episodesPagines() {
            return this.historique.slice(
                (this.pageCourante - 1) * this.taillePage,
                this.pageCourante * this.taillePage,
            );
        },
        nbPages() {
            return Math.ceil(this.historique.length / this.taillePage);
        },
    },
    mounted() {},
    methods: {
        changerPage(page) {
            this.pageCourante = page;
            this.scrollToTop();
        },
        pagePrecedente() {
            if (this.pageCourante >= 2) {
                this.pageCourante -= 1;
                this.scrollToTop();
            }
        },
        pageSuivante() {
            if (this.pageCourante < this.nbPages) {
                this.pageCourante += 1;
                this.scrollToTop();
            }
        },
        scrollToTop() {
            window.scrollTo(0, 0);
        },
    },
};
</script>

<style scoped>
</style>
