<template>
  <div class="section">
    <div class="columns is-centered">
      <div class="field is-horizontal" style="padding-left: 20px">
        <div class="field-label is-normal">
          <label class="label" for="title">Title:</label>
        </div>
        <div class="field-body">
          <input
            class="input"
            type="text"
            v-model="filtreSeriesTitle"
            placeholder="Name"
          />
        </div>
      </div>
      <div class="field is-horizontal" style="padding-left: 20px">
        <div class="field-label is-normal">
          <label class="label" for="studio">Studio:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control" style="min-width: 200px">
              <div class="select is-fullwidth">
                <select id="studio" v-model="filtreStudio">
                  <option></option>
                  <option
                    v-for="s in studios"
                    v-bind:key="s.studioId"
                    v-bind:value="s.studioId"
                  >
                    {{ s.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="columns is-centered">
      <div class="card">
        <header class="card-header has-background-grey-lighter">
          <p class="card-header-title">Genres</p>
        </header>
        <div class="card-content">
          <div class="columns is-mobile is-multiline">
            <div class="column is-2" v-for="g in genres" v-bind:key="g.genreId">
              <label>
                <input
                  type="checkbox"
                  v-bind:value="g.genreId"
                  v-model="filtreGenre"
                />
                {{ g.name }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block">
      <div class="columns is-multiline is-mobile">
        <TvshowView
          taillePage
          v-for="tvs in tvshowsFiltresPagines"
          v-bind:key="tvs.tvshowId"
          v-bind:t="tvs"
        />
      </div>
    </div>
    <div>
      <nav
        v-if="nbPages > 1"
        class="pagination is-centered is-small margin"
        role="navigation"
        aria-label="pagination"
      >
        <button v-if="pageCourante > 1"
          class="pagination-previous"
          v-on:click="this.pagePrecedente()">
          Precedente
        </button>
        <ul class="pagination-list">
          <li v-for="page in nbPages" v-bind:key="page">
            <button
              v-if="page === pageCourante"
              v-bind:arial-label="page"
              v-on:click="this.changerPage(page)"
              class="pagination-link is-current"
              aria-label="Goto page 1"
            >
              {{ page }}
            </button>
            <button
              v-else
              v-bind:arial-label="page"
              v-on:click="this.changerPage(page)"
              class="pagination-link"
              aria-label="Goto page 1"
            >
              {{ page }}
            </button>
          </li>
        </ul>
        <button v-if="pageCourante < nbPages"
        class="pagination-next"
        v-on:click="this.pageSuivante()">
          Suivante
        </button>
      </nav>
    </div>
  </div>
</template>

<script>
/* eslint-disable object-curly-newline */
import { svrURL } from '@/constants';
import TvshowView from '@/components/TvshowView.vue';

export default {
    name: 'HomeView',
    components: { TvshowView },
    data() {
        return {
            tvshows: [],
            studios: [],
            genres: [],
            filtreSeriesTitle: '',
            filtreStudio: '',
            filtreGenre: [],
            taillePage: 8,
            pageCourante: 1,
        };
    },
    computed: {
        tvshowsFiltresPagines() {
            const page = (this.pageCourante - 1) * this.taillePage;
            const next = page + this.taillePage;
            return this.tvshowsFiltres.slice(page, next);
        },
        nbPages() {
            let nbr = Math.floor(this.nbItems / this.taillePage);
            if (this.nbItems % this.taillePage > 0) {
                nbr += 1;
            }
            return nbr;
        },
        nbItems() {
            return this.tvshowsFiltres.length;
        },
        tvshowsFiltres() {
            let show = this.tvshows;
            if (this.filtreSeriesTitle !== '') {
                const titres = [];
                show.forEach((unite) => {
                    if (
                        unite.title
                            .toLowerCase()
                            .trim()
                            .includes(this.filtreSeriesTitle.toLowerCase().trim())
                    ) {
                        titres.push(unite);
                    }
                });
                show = titres;
            }
            if (this.filtreStudio !== '') {
                show = show.filter(
                    (s) => s.studio.studioId === parseInt(this.filtreStudio, 10),
                );
            }
            if (this.filtreGenre.length > 0) {
                for (let genre = 0; genre < this.filtreGenre.length; genre += 1) {
                    show = show.filter(
                        (tv) => tv.genres.some((g) => g.genreId === this.filtreGenre[genre]),
                    );
                }
                this.remisePage();
            }
            return show;
        },
        tvshowsPagine() {
            const page = 8 * (this.currentPage - 1);
            return this.tvshowsFiltres.slice(page, page + 8);
        },
    },
    mounted() {
        this.getTvshows();
        this.getStudios();
        this.getGenres();
        if (this.$store.state.token) {
            this.getHistory();
        }
    },
    methods: {
        remisePage() {
            if (this.pageCourante !== 1) {
                this.pageCourante = 1;
            }
        },
        changerPage(page) {
            this.pageCourante = page;
            this.scrollToTop();
        },
        pagePrecedente() {
            if (this.pageCourante >= 2) {
                this.pageCourante -= 1;
                this.scrollToTop();
            }
        },
        pageSuivante() {
            if (this.pageCourante < this.nbPages) {
                this.pageCourante += 1;
                this.scrollToTop();
            }
        },
        async getTvshows() {
            const response = await fetch(`${svrURL}/tvshows`);
            if (response.ok) {
                this.tvshows = await response.json();
            }
        },
        async getStudios() {
            const response = await fetch(`${svrURL}/studios`);
            if (response.ok) {
                this.studios = await response.json();
            }
        },
        async getGenres() {
            const response = await fetch(`${svrURL}/genres`);
            if (response.ok) {
                this.genres = await response.json();
            }
        },
        async getHistory() {
            const response = await fetch(`${svrURL}/user/history`, {
                method: 'GET',
                headers: {
                    'Content-type': 'application/json',
                    Authorization: `bearer ${this.$store.state.token}`,
                },
            });
            if (response.ok) {
                this.$store.state.history = await response.json();
                this.historique = this.$store.state.history;
            }
        },
        scrollToTop() {
            window.scrollTo(0, 0);
        },
    },
};
</script>

<style scoped>

</style>
