<template>
  <div class="content has-text-centered">
    <h1 class="margin">JouerEpisode</h1>
  </div>
  <div class="block has-text-centered" v-if="video != null">
    <div v-if="episode != null" class="block margin has-text-centered">
      <h3>{{ episode.title }}</h3>
      <h6>
        {{ episode.seasonNumber }}
        <span> - </span>
        <span>{{ episode.number }}</span>
      </h6>
    </div>
    <div class="box has-background-grey-darker">
      <video
        controls
        v-bind:alt="video.episodeId"
        v-bind:src="video.videoURL"
        type="video/mp4"
      />
    </div>
  </div>
  <div class="block" v-if="!this.$store.state.token">
    <br /><br />
    <div class="box alert">
      <div class="field has-text-centered">
        <h1>
          Vous devez etre connecte pour acceder a cette page.<br />
          <router-link v-bind:to="{ name: 'login' }">
            Se connecter
          </router-link>
        </h1>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable object-curly-newline */
import { svrURL } from '@/constants';

export default {
    name: 'JouerEpisode',
    components: {},
    data() {
        return {
            video: null,
            episode: null,
        };
    },
    mounted() {
        this.getEpisodes();
    },
    methods: {
        async getEpisodes() {
            const response = await fetch(
                `${svrURL}/viewepisode?episodeId=${this.$route.params.episodeId}`,
                {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        Authorization: `bearer ${this.$store.state.token}`,
                    },
                },
            );
            if (response.ok) {
                this.video = await response.json();
            }
            const res = await fetch(
                `${svrURL}/episode?episodeId=${this.$route.params.episodeId}`,
            );
            if (res.ok) {
                this.episode = await res.json();
            }
        },
    },
};
</script>

<style scoped>
.alert {
  color: red;
  border: 3px solid;
}
/* Resize images */
.container {
  width: 75%;
  height: auto;
}
</style>
