<template>
  <div class="container">
    <div class="section">
      <div class="content">
        <p
          class="title is-3 has-text-centered"
          style="color: black; min-height: 72px"
        >
          Login
        </p>
        <div class="field">
          <div
            v-if="msgUsername !== '' || msgPassword !== '' || msgAuth !== ''"
            class="alert"
          >
            <div class="has-text-black">{{ msgUsername }}</div>
            <div class="has-text-black">{{ msgPassword }}</div>
            <div class="has-text-black">{{ msgAuth }}</div>
          </div>
        </div>
        <div class="field">
          <label for="username" class="label">Username</label>
          <div class="control has-icons-left">
            <input
              class="input"
              v-model="username"
              type="username"
              placeholder="e1234567"
              required
            />
            <span class="icon is-small is-left"
              ><i class="fa fa-envelope"></i
            ></span>
          </div>
        </div>
        <div class="field">
          <label for="password" class="label">Mot de passe</label>
          <div class="control has-icons-left">
            <input
              class="input"
              v-model="password"
              type="password"
              placeholder="*******"
              required
            />
            <span class="icon is-small is-left"
              ><i class="fa fa-lock"></i
            ></span>
          </div>
        </div>
        <div class="field">
          <!--<label class="label"></label>-->
          <div class="control">
            <button class="button is-success" @click="connexion">
              Connexion
            </button>
            <button class="button is-danger" @click="annuler">Annuler</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable object-curly-newline */
import { svrURL } from '@/constants';

export default {
    name: 'LoginView',
    data() {
        return {
            username: '',
            password: '',
            msgUsername: '',
            msgPassword: '',
            msgAuth: '',
        };
    },
    mounted() {
        if (this.$store.state.username) {
            this.username = this.$store.state.username;
        }
    },
    methods: {
        annuler() {
            this.$router.push('/');
        },
        async connexion() {
            this.msgUsername = '';
            this.msgPassword = '';
            this.msgAuth = '';
            if (this.username === '') {
                this.msgUsername = 'Le username est obligatoire';
            }
            if (this.password === '') {
                this.msgPassword = 'Le password est obligatoire';
            }
            if (this.username && this.password) {
                this.msgUsername = '';
                this.msgPassword = '';
                const info = JSON.stringify({
                    username: this.username,
                    password: this.password,
                });
                const response = await fetch(`${svrURL}/auth/token`, {
                    method: 'POST',
                    body: info,
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });
                const data = await response.json();
                if (response.ok) {
                    sessionStorage.setItem('token', data.token);
                    this.$store.dispatch('storetoken', data.token);
                    this.$router.back();
                } else {
                    this.$store.state.token = '';
                    this.msgAuth = data.message;
                }
            }
        },
    },
};
</script>

<style scoped>
.alert {
  color: red;
  border: 3px solid;
}
</style>
