<template>
  <div v-if="this.season != null">
    <div class="margin">
      <h1 class="title is-1 has-text-centered">
        {{ season.tvshowTitle }}
      </h1>
      <h1 class="title is-1 has-text-centered">{{ season.seasonNumber }}</h1>
    </div>
    <div class="margin columns is-multiline">
      <div class="column is-3-desktop is-4-tablet is-12-mobile"
          v-for="tvss in episodesPagines"
          v-bind:key="tvss.episodeId">
        <EpisodeView
          v-bind:episode="tvss"
          v-if="history.includes(tvss.episodeId)"
          class="opac"
        />
        <EpisodeView
          v-else
          v-bind:episode="tvss"
        />
      </div>
    </div>
    <br><br>
    <div>
      <nav
        v-if="nbPages > 1"
        class="pagination is-centered is-small margin"
        role="navigation"
        aria-label="pagination"
      >
        <button v-if="pageCourante > 1"
          class="pagination-previous"
          v-on:click="this.pagePrecedente()">
          Precedente
        </button>
        <ul class="pagination-list">
          <li v-for="page in nbPages" v-bind:key="page">
            <button
              v-if="page === pageCourante"
              v-bind:arial-label="page"
              v-on:click="this.changerPage(page)"
              class="pagination-link is-current"
              aria-label="Goto page 1"
            >
              {{ page }}
            </button>
            <button
              v-else
              v-bind:arial-label="page"
              v-on:click="this.changerPage(page)"
              class="pagination-link"
              aria-label="Goto page 1"
            >
              {{ page }}
            </button>
          </li>
        </ul>
        <button v-if="pageCourante < nbPages"
        class="pagination-next"
        v-on:click="this.pageSuivante()">
          Suivante
        </button>
      </nav>
    </div>
  </div>
</template>

<script>
/* eslint-disable object-curly-newline */
import { svrURL } from '@/constants';
import EpisodeView from '@/components/EpisodeView.vue';

export default {
    name: 'SeasonEpisodesView',
    components: { EpisodeView },
    data() {
        return {
            season: null,
            historique: null,
            taillePage: 8,
            pageCourante: 1,
            history: [],
        };
    },
    computed: {
        episodesPagines() {
            return this.season.episodes.slice(
                (this.pageCourante - 1) * this.taillePage,
                this.pageCourante * this.taillePage,
            );
        },
        nbPages() {
            return Math.ceil(this.season.episodes.length / this.taillePage);
        },
    },
    mounted() {
        this.getEpisodes();
        this.getHistoryEpisodeId();
    },
    methods: {
        async getEpisodes() {
            const response = await fetch(
                `${svrURL}/episodes?seasonId=${this.$route.params.seasonId}`,
            );
            if (response.ok) {
                this.season = await response.json();
            }
        },
        changerPage(page) {
            this.pageCourante = page;
        },
        pagePrecedente() {
            if (this.pageCourante >= 2) {
                this.pageCourante -= 1;
            }
        },
        pageSuivante() {
            if (this.pageCourante < this.nbPages) {
                this.pageCourante += 1;
            }
        },
        getHistoryEpisodeId() {
            if (this.$store.state.token !== '') {
                for (let i = 0; i < this.$store.state.history.length; i += 1) {
                    this.history.push(this.$store.state.history[i].episodeId);
                }
            }
        },
    },
};
</script>

<style scoped>
.opac {
  opacity: 0.5;
}
</style>
