<template>
    <div class="section">
          <p class="title is-3 has-text-centered" style="color: black; min-height: 72px">
              Sign up
            </p>
      <div class="box">
        <div class="field">
          <div v-if="msgError" class="alert">
            <div v-if="username.length < 5 || username.length > 20" class='has-text-black'>
              Le username doit contenir au moins 5 caracteres et au mmaximum 20.
            </div>
            <div v-if="!(regex.test(username))" class='has-text-black'>
              Les caractères permis pour le username sont A-Z,a-z,0-9 et le caractere souligne.
            </div>
            <div v-if="!email.includes('@')" class='has-text-black'>
              Le courriel doit contenir le symbole @.</div>
            <div v-if="email.length <= 4" class='has-text-black'>
              Le courriel doit contenir plus de 4 caractères.
            </div>
            <div v-if="password.length < 6" class='has-text-black'>
              Le mot de passe doit contenir au moins 6 caracteres.
            </div>
          </div>
          <div v-if="errorMessage" class="alert">
            <div class='has-text-black'>
              Erreur pendant l'insertion : {{ this.errorMessage }}
            </div>
          </div>
        </div>
        <div class="field">
          <label for="email" class="label">Email</label>
          <div class="control has-icons-left">
            <input
              class="input"
              v-model="email"
              type="email"
              placeholder="e1234567@site.com"
              required
            />
            <span class="icon is-small is-left"
              ><i class="fa fa-envelope"></i
            ></span>
          </div>
          <p v-if="email && !email.includes('@')" class="help is-danger">Enter a valide Email</p>
        </div>
        <div class="field">
          <label for="username" class="label">Username</label>
          <div class="control has-icons-left">
            <input
              class="input"
              v-model="username"
              type="username"
              placeholder="e1234567"
              required
            />
            <span class="icon is-small is-left"
              ><i class="fa fa-user"></i
            ></span>
          </div>
            <p v-if="!username ||
                username.length >= 5 &&
                username.length <= 20"
                class="help is-success">
                Le username doit contenir entre 5 et 20 caractères et doit
               être composés de lettres majuscules, minuscule, de chiffre et/ou du caractère
                souligné.
            </p>
            <p v-else
          class="help is-danger">
          Le username doit contenir entre 5 et 20 caractères et doit
               être composés de lettres majuscules, minuscule, de chiffre et/ou du caractère
                souligné.</p>
        </div>
        <div class="field">
          <label for="password" class="label">Mot de passe</label>
          <div class="control has-icons-left">
            <input
              class="input"
              v-model="password"
              type="password"
              placeholder="*******"
              required
            />
            <span class="icon is-small is-left"
              ><i class="fa fa-lock"></i
            ></span>
          </div>
          <p v-if="!password ||
          password.length >=6 &&
          password.length <=30"
          class="help is-success">
          Le mot de passe doit contenir entre 6 et 30 caractères.
          </p>
          <p v-else class="help is-danger">
              Le mot de passe doit contenir entre 6 et 30 caractères.
            </p>
        </div>
        <div class="field">
          <label for="password" class="label">Confirmer mot de passe</label>
          <div class="control has-icons-left">
            <input
              class="input"
              v-model="passwordconfirmation"
              type="password"
              placeholder="*******"
              required
            />
            <span class="icon is-small is-left"
              ><i class="fa fa-lock"></i
            ></span>
          </div>
          <p v-if="password && passwordconfirmation && password !== passwordconfirmation"
            class="help is-danger">
            Le mot de passe de confirmation
            doit être identique au mot de passe.</p>
        </div>
        <div class="field">
          <!--<label class="label"></label>-->
          <div class="control">
            <button class="button is-success" @click="Signup">Sign Up</button>
            <button class="button is-danger" @click="annuler" >Annuler</button>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
/* eslint-disable object-curly-newline */
import { svrURL } from '@/constants';

export default {
    name: 'SignupView',
    data() {
        return {
            email: '',
            username: '',
            password: '',
            passwordconfirmation: '',
            pattern: false,
            msgError: false,
            regex: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[_])[A-Za-z\d#_]{5,20}$/,
            errorMessage: '',
        };
    },
    methods: {
        annuler() {
            this.$router.push('/');
        },
        Signup() {
            if (this.username.length < 5
          || this.username.length > 20
          || !this.email.includes('@')
          || !(this.regex.test(this.username))) {
                this.msgError = true;
            } else {
                this.msgError = false;
                if (this.password === this.passwordconfirmation) {
                    this.signUp();
                }
            }
        },
        async signUp() {
            const info = JSON.stringify({
                email: this.email,
                username: this.username,
                password: this.password,
            });
            const response = await fetch(`${svrURL}/auth/register`, {
                method: 'POST',
                body: info,
                headers: {
                    'Content-Type': 'application/json',
                },
            });
            if (response.ok) {
                const data = await response.json();
                this.$store.state.username = data.username;
                this.$router.push('/login');
            } else {
                const data = await response.json();
                console.log(data.message);
                this.errorMessage = data.message;
                console.log(this.errorMessage);
            }
        },
    },
};
</script>

<style scoped>
.alert {
  color: red;
  border: 3px solid;
}
</style>
