<template>
  <div class="is-3-desktop is-4-tablet is-12-mobile">
    <router-link
      v-bind:to="{
        name: 'detailsEpisode',
        params: { episodeId: parseInt(episode.episodeId) },
      }"
    >
      <div class="card">
        <div class="card-image">
          <figure class="image is-16by9">
            <img v-bind:alt="episode.title" v-bind:src="episode.imgURL" />
          </figure>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <div class="title is-4 mb-0">
              {{ episode.title }}
            </div>
            <div>{{ episode.number }}</div>
          </div>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
    name: 'EpisodeView',
    props: {
        episode: Object,
    },

};
</script>

<style scoped>
</style>
