<template>
  <div class="column is-3-desktop is-4-tablet is-12-mobile">
    <div class="card">
      <router-link
        v-bind:to="{
          name: 'detailsEpisode',
          params: { episodeId: parseInt(episode.episodeId) },
        }"
      >
        <div class="card-image">
          <figure class="image is-16by9">
            <img
              v-bind:alt="episode.episodeTitle"
              v-bind:src="episode.imgURL"
            />
          </figure>
        </div>
      </router-link>
      <div class="card-content content has-text-centered">
        <router-link
          v-bind:to="{
            name: 'details',
            params: { tvshowId: parseInt(episode.tvshowId) },
          }"
        >
          <div>
            {{ episode.tvshowTitle }}
          </div>
        </router-link>
        <router-link
          v-bind:to="{
            name: 'seasonepisodes',
            params: { seasonId: parseInt(episode.seasonId) },
          }"
        >
          <div>season {{ episode.seasonNumber }}</div>
        </router-link>
        <router-link
          v-bind:to="{
            name: 'detailsEpisode',
            params: { episodeId: parseInt(episode.episodeId) },
          }"
        >
          <div>
            {{ episode.episodeTitle }}
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name: 'EpisodeDetailView',
    props: {
        episode: Object,
    },
};
</script>

<style scoped>
</style>
