<template>
    <nav class="navbar"
    role="navigation"
    aria-label="main navigation">
      <button class="navbar-burger"
        v-on:click="this.burger()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </button>
    <div id="navbarBasicExample"
    class="navbar-menu has-background-link is-small"
    :class="{ 'is-active': menu }">
      <div class="navbar-start">
        <div class="navbar-item">
          <router-link to="/" class="has-text-white">TP2</router-link>
        </div>
      </div>
      <div class="navbar-end">
        <div v-if="this.$store.state.token !== ''" class="navbar-item">
          <div class="buttons">
            <div>
              <router-link to="/history" class="has-text-white">History</router-link>
            </div>
          </div>
        </div>
        <div v-if="this.$store.state.token == ''" class="navbar-item">
          <div class="buttons">
            <div>
              <router-link to="/login" class="has-text-white">Login</router-link>
            </div>
          </div>
        </div>
        <div v-if="this.$store.state.token !== ''" class="navbar-item">
          <div class="buttons">
            <div>
              <router-link to="/profile" class="has-text-white">Profile</router-link>
            </div>
          </div>
        </div>
        <div v-if="this.$store.state.token == ''" class="navbar-item">
          <div class="buttons">
            <div>
              <router-link to="/signUp" class="has-text-white">Sign Up</router-link>
            </div>
          </div>
        </div>
        <div v-if="this.$store.state.token !== ''" class="navbar-item">
          <div class="buttons">
            <div>
              <router-link @click="logout" to="/" class="has-text-white">Logout</router-link>
            </div>
          </div>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <div>
          <router-link to="/About" class="has-text-white">About</router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
    name: 'MenuView',
    data() {
        return {
            menu: false,
        };
    },
    methods: {
        logout() {
            sessionStorage.removeItem('token');
            this.$store.state.token = '';
            this.$router.push('/');
        },
        burger() {
            if (this.menu) {
                this.menu = false;
            } else {
                this.menu = true;
            }
        },
    },
};
</script>

<style scoped>
</style>
