<template>
  <div class="column is-3">
    <router-link
      v-bind:to="{
        name: 'seasonepisodes',
        params: { seasonId: parseInt(season.seasonId) },
      }"
      ><div class="card">
        <div class="card-image">
          <figure class="image is-3by4">
            <img v-bind:alt="season.number" v-bind:src="season.imgURL" />
          </figure>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <h4 class="title is-4">Season {{ season.number }}</h4>
            <div>{{ season.episodeCount }} episodes</div>
          </div>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
    name: 'SeasonView',
    props: {
        season: Object,
    },
};
</script>

<style scoped>
</style>
