<template>
  <div class="column is-3-desktop is-4-tablet is-6-mobile">
    <router-link
      v-bind:to="{
        name: 'details',
        params: { tvshowId: parseInt(t.tvshowId) },
      }"
    >
      <div class="card has-text-black">
        <div class="card-image">
          <figure class="image is-2by3">
            <img v-bind:alt="t.title" v-bind:src="t.imgURL" />
          </figure>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <p class="title is-3" style="color: black; min-height: 72px">
              {{ t.title }}
            </p>
            <div class="mb-0">
              <span class="has-text-weight-bold">Studio: </span>
              <span>{{ t.studio.name }}</span>
            </div>
            <div class="mb-0">
              <span class="has-text-weight-bold">Genres: </span>
              <span>{{ t.genres.map((e) => e.name).join(", ") }}</span>
            </div>
          </div>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
    name: 'TvshowView',
    props: {
        t: Object,
    },
};
</script>

<style scoped>
</style>
