<template>
    <div>
        <MenuView />
        <router-view />
    </div>
</template>

<script>
// eslint-disable-next-line
import MenuView from '@/components/MenuView.vue'

export default {
    name: 'App',
    components: { MenuView },
    mounted() {
        const token = sessionStorage.getItem('token');
        if (token !== null) {
            this.$store.dispatch('storetoken', token);
        }
    },
    methods: {},
    watch: {},
};
</script>

<style>
.margin { margin: 30px;}
.scroll { overflow-x: auto;}
html { scroll-behavior: smooth; }
/*html {background-color: black}*/
</style>
